section.about
	.flex
		.unit
			width: 50%
			padding: 40px
      
	img.shrink
		max-width: 100%

@media (max-width: 700px)
	section.about
		.flex
			flex-wrap: wrap
			.unit
				width: 100%
				padding: 20px