section.available
  table
    padding-top: 20px
    padding-bottom: 60px
    margin: 0 auto
    width: 100%
    max-width: $bind-med

    thead tr th, 
    tbody tr td
      padding: 10px
      background: #f6f6f6
      vertical-align: top

    thead tr th
      padding-bottom: 35px

    thead tr th:first-child,
    tbody tr td:first-child
      text-align: left
      width: 70%    
         
    thead tr th:last-child,
    tbody tr td:last-child
      text-align: right
      width: 30%

@media (max-width: 570px)
  
  section.available
    table
      font-size: 13px
      background: #f6f6f6
      padding-bottom: 40px
      
      thead tr th, 
      tbody tr td
        padding-left: 0
        padding-right: 0
        padding-top: 15px
        background: none
        
      thead tr th
        padding-bottom: 30px