section.available
  table
    margin: 0 auto
    width: 100%
    max-width: $max
    
  table thead tr th, 
  table tbody tr td
    padding: 10px
    background: white

  table thead tr th:first-child,
  table tbody tr td:first-child
    text-align: left
    width: 70%    
       
  table thead tr th:last-child,
  table tbody tr td:last-child
    text-align: right
    width: 30%