section.benefits
  ul.benefits
    padding-top: 0
    li
      padding: 10px 15px
      hgroup:before
        display: block
      hgroup + p
        margin-top: 10px
      p
        opacity: 0.5

    li:nth-child(1)
      hgroup:before
        content: url("../img/icons/icon-gg-1.svg")

    li:nth-child(2)
      hgroup:before
        content: url("../img/icons/icon-gg-2.svg")

    li:nth-child(2)
      hgroup:before
        content: url("../img/icons/icon-gg-2.svg")

    li:nth-child(3)
      hgroup:before
        content: url("../img/icons/icon-gg-3.svg")
        
    li:nth-child(4)
      hgroup:before
        content: url("../img/icons/icon-gg-4.svg")

    li:nth-child(5)
      hgroup:before
        content: url("../img/icons/icon-gg-5.svg")


@media (max-width: 800px)
  section.benefits
    ul.benefits
      flex-wrap: wrap
      justify-content: center
      li
        flex-basis: 50%
        width: 50%
        max-width: 50%
        min-width: 50%
        border: 1px solid rgba(255,255,255,0.08)
        border-top: none

        &:nth-child(2n)
          border-left: none

        &:nth-child(1),
        &:nth-child(2)
          border-top: 1px solid rgba(255,255,255,0.08)

        hgroup:before
          height: 65px
          
        hgroup + p
          margin: 4px 0
          // display: block
           
