section.earn
  background: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('../img/editorial/gg.jpg') 50% 40%

  h2
    color: white
    
  .mascot
    width: 100px
  
  .flex
    min-height: 450px
