section.earn
	background: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('../img/editorial/gg-1800.jpg') 50% 40%
	background-size: 1200px
	.flex
		min-height: 450px
	.mascot
		width: 100px
	.unit.bottom
		a.plain.caps.button
			margin-bottom: 40px


@media (max-width: 1400px)
	section.earn
		background: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('../img/editorial/gg-1400.jpg') 50% 40%

@media (max-width: 1000px)
	section.earn
		background: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('../img/editorial/gg-1000.jpg') 50% 40%

@media (max-width: 800px)
	section.earn
		background: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('../img/editorial/gg-800.jpg') 50% 40%

@media (max-width: 570px)
	section.earn
		background: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('../img/editorial/gg-570.jpg') 50% 40%
