footer

  small,
  ol li,
  ul li,
    font-size: 11px
    line-height: 1.6em
    letter-spacing: 0.075em
    font-weight: 300

  .legal
    opacity: 0.6

@media (max-width: 450px)
  footer

    .contents
      display: block
      
      ul li
        line-height: 1.8em

    .social
      margin-top: 25px
      text-align: center !important
      
      a + a
        margin-left: 15px

    .legal
      margin-top: 0
      padding-top: 0
      text-align: center !important
