footer
  // opacity: 0.9
  letter-spacing: 0.04em
  font-weight: 300
  // font-weight: 100

  ol li,
  ul li,
    font-size: 11px
    // font-size: 10px
    line-height: 1.6em

  .social
    img
      width: 25px

    & + .social
      margin-left: 8px 

  small.legal
    opacity: 0.6
    display: block
    margin-top: 50px
    font-size: 11px
    line-height: 1.6em
    