section.quad
  .flex
    min-height: 400px


    .unit.stretch.quad
      width: 50%
      


      .flex.stretch
        width: 100%
        height: 100%
        background: rgba(0,0,0,0.4)
        transition: $transition-slow

        &:hover
          width: 100%
          height: 100%
          background: rgba(0,0,0,0.9)
          
          // pointer: cursor
          cursor: pointer


        .unit.center-v.info
          padding: 15px 10px

          .first

          .second
            transition: $transition-slow
            overflow: hidden
            ul li:first-child
              margin-bottom: 12px
              

      hgroup
        margin: 10px 0 2px 0
        font-weight: 400
        
      ul li
        line-height: 1.6em
        padding: 0 10px
      ul li a:hover
        color: $teal  





// Images

section.quad
  .flex
    .quad-1
      background: url("../img/components/quad/quad-1-800.jpg") 50% 30%

    .quad-2
      background:  url("../img/components/quad/quad-2-800.jpg") 60% 30%

    .quad-3
      background:  url("../img/components/quad/quad-3-800.jpg") 70% 38%

    .quad-4
      background:  url("../img/components/quad/quad-4-800.jpg") 40% 50%



@media (max-width: 800px)
  section.quad
    .flex
      .quad-1
        background: url("../img/components/quad/quad-1-400.jpg") 50% 30%

      .quad-2
        background:  url("../img/components/quad/quad-2-400.jpg") 50% 30%

      .quad-3
        background:  url("../img/components/quad/quad-3-400.jpg") 40% 30%

      .quad-4
        background:  url("../img/components/quad/quad-4-400.jpg") 100% 10%

