.slider-nav
  text-align: center
  margin: 40px 0 0 0
  a + a
    margin-left: 12px
  a
    width: 10px
    height: 10px
    display: inline-block
    background: white
    overflow: hidden
    text-indent: -9999px
    border-radius: 50%
    opacity: 0.5
    
    &.active
      opacity: 1



section.quote

  .slick-slider
    margin-bottom: 20px
    
    .slick-slide
      outline: none
      user-select: none
    
      blockquote
        min-height: 3em

      blockquote,
      cite
        color: white
      
      cite
        margin: 10px 0
        font-style: normal

  .slider
    width: 70%
    margin: 20px auto 40px auto
    
  .slick-prev, .slick-next
    opacity: 0.5

  .slick-prev,
  [dir='rtl'] .slick-prev
    left: -160px
    right: auto

  .slick-next,
  [dir='rtl'] .slick-next
    right: -160px
    left: auto
    
  .slick-arrow
    padding: 40px
    margin-top: -130px



