#profile-1,
#profile-2
  user-drag: none 
  user-select: none
  pointer-events: none


section.quote
  padding: 30px 0 50px 0

  .testimonials-img
    .profile
      width: 160px

  .testimonials
    outline: 1px solid pink
    width: 100%
    
    .slick-list.draggable
      margin-top: -160px
      padding-top: 160px

    .slick-dots
      bottom: 0

    .slick-slide
      outline: none
      user-select: none
    
      blockquote
        min-height: 7em
        font-size: 20px
        line-height: 1.25em
        letter-spacing: 0.05em
        padding: 20px 15px
      
      cite
        margin: 10px 0
        font-style: normal


@media (max-width: 700px)
  section.quote

    #profile-turn
      display: block

    #profile-row
      display: none

    .testimonials
      .slick-slide
        blockquote
          min-height: auto
        cite
          margin: 10px 0 50px 0


@media (min-width: 701px)
  section.quote
    #profile-turn
      display: none

    #profile-row
      display: flex
      
    .testimonials-img
      .profile
        width: 140px

    .testimonials
      .slick-slide
        blockquote
          font-weight: 300
          font-size: 1.1rem
          letter-spacing: 0.08rem
          line-height: 1.395rem
          padding: 10px 21px

      .slick-list.draggable
        margin-top:  0
        padding-top: 0