section.roundels

  h2 + .bind
    padding-top: 0

  .quote
    img
      width:    160px
      height:   160px
      margin:   auto

    .slick-dots
      position: relative
      bottom:   0
      left:     0
      display:  block
      width:    100%
      margin:   20px 0

    .slick-slide
      padding: 0 20px
      
      cite,
      hgroup
        font-style:   normal

      cite
        margin:       10px 0

      blockquote,
      hgroup
        margin:       20px 0

      blockquote + cite
        margin:       10px 0


@media (max-width: 700px)
  section.roundels
    .bind
      padding:  40px 0 15px 0

    a.button
      margin:   20px 0 20px 0 

@media (min-width: 701px)
  section.roundels
    .bind
      padding:  40px 40px 10px 40px

