section.steps
  ol
    li
      display: inline-block
      width: calc(78%/3)
      vertical-align: top
      text-align: center
      color: white
      
      .flip
        margin: auto

      h3
        margin: 25px 0 10px 0
      p
        max-width: 140px
        margin: auto

    li:nth-child(2)
      margin-left: 10%
      margin-right: 10%
      position: relative

    li:nth-child(2)::before,
    li:nth-child(2)::after
      background-image:     url('../img/components/step/step-right.svg') 
      background-repeat:    no-repeat 
      background-position:  50% 15%
      background-size:      30px
      
      content: ""
      width: 37%
      display: block
      height: 100%
      position: absolute
      top: 0
    li:nth-child(2)::before
      left: -37%
    li:nth-child(2)::after
      right: -37%


@media (max-width: 500px)
  section.steps
    ol
      li
        display: block
        width: 100%
        vertical-align: top
        text-align: center
        color: white
        p
          max-width: 100%
        h3
          font-size: 16px
          margin: 12px 0 1px 0

      li:nth-child(2)
        margin: 0
        position: relative

      li:nth-child(2)::before,
      li:nth-child(2)::after
        background:     url('../img/step-down.svg') 
        background-repeat:    no-repeat 
        background-position:  50% 50%
        background-size:      30px

        content: ""
        width: 100%
        display: block
        height: 50px
        margin: 10px 0
        width: 100%
        position: relative
        
      li:nth-child(2)::before
        left: 0
      li:nth-child(2)::after
        right: 0