section.use
  .flex
    min-height: 300px
    .info
      padding: 15px 10px
      .second
        transition: all 400ms ease
        overflow: hidden
        margin-top: 10px
        

    .unit
      width: 50%
      .flex
        .unit
          width: 100%

      hgroup
        margin: 10px 0 0 0
      ul li
        line-height: 1.6em
      ul li a:hover
        color: $teal  


    .quad
      .flex.stretch
        transition: all 400ms ease
        background: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5))
        opacity: 0.8


    .quad:hover
      .flex.stretch
        transition: all 400ms ease
        background: radial-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9))
        opacity: 1


    .quad1
      background: url("../img/components/use/quad1.jpg") 50% 30%

    .quad2
      background:  url("../img/components/use/quad2.jpg") 50% 30%

    .quad3
      background:  url("../img/components/use/quad3.jpg") 40% 30%

    .quad4
      background:  url("../img/components/use/quad4.jpg") 100% 10%

