section.use
  ul.categories
    > li:nth-child(1)::before
      content: url('../img/icon-use-1.png')
    > li:nth-child(2)::before
      content: url('../img/icon-use-2.png')
    > li:nth-child(3)::before
      content: url('../img/icon-use-3.png')
    > li:nth-child(4)::before
      content: url('../img/icon-use-4.png')
    > li:nth-child(5)::before
      content: url('../img/icon-use-5.png')


section.benefits,
section.use
  ul.categories
    > li::before
      content: url('../img/icon-empty.jpg')
      display: block
      margin: 0 0 10px 0

    > li
      display: inline-block
      width: calc(100%/5)
      vertical-align: top
      margin: auto
      padding: 30px 20px 65px 20px

      .examples
        display: block
        font-size: 13px
        opacity: 0.6
        margin-top: 10px
        li
          line-height: 1.7em
          text-align: center
          display: block
          width: 100%

@media (max-width: 900px)
  section.use
    ul.categories
      > li
        width: calc(100%/3)


@media (max-width: 550px)
  section.use
    ul.categories
      > li
        width: calc(100%/2)
