section.video
  position: relative
  
  .controls
    position: absolute
    top: 0
    left: 0
    z-index: 8
    width: 100%
    height: 100%
    .unit
      margin-top: 20px
      .play
        width: 100px
      
      
  video
    z-index: 1