$bind-med:        900px
$bind-wide:    	  1200px
$transition:      all 200ms ease 

// SWATCH
$bg:              #f2f2f2
$copyLight:       #f7f7f7
$copyDark:        #2e2e2e
$teal:            rgba(0, 180, 173, 0.9)
$white:           rgba(255,255,255,0.9)		

// TYPE
$roboto:          "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

$font-sm-pt:      0.8em 
$font-sm-ld:      1.5em
$headlines:       $roboto
$running: 		    $roboto
$testimonials: 	  $roboto

$on:              rgba(0,0,0,0.6) 
$off:             none
// $static:          1px solid red

$app-buttons:     block
$nav-style:       relative
$nav-bg:          $off
// $logo:            $static


@import "lib/slick.sass"
// @import "lib/slick-theme.sass"

@import "partials/reset.sass"
@import "partials/type.sass"
@import "partials/links.sass"
@import "partials/pips.sass"
@import "partials/colour.sass"
@import "partials/grid.sass"
@import "partials/hero.sass"
@import "partials/nav.sass"
@import "partials/wordmark.sass"
@import "partials/slider.sass"

@import "sections/app.sass"
@import "sections/steps.sass"
@import "sections/use.sass"
@import "sections/available.sass"
@import "sections/wisdom.sass"
@import "sections/quote.sass"
@import "sections/earn.sass"
@import "sections/video.sass"
@import "sections/footer.sass"
@import "sections/job.sass"
@import "sections/about.sass"

@import "motion/app.sass"
@import "motion/flip.sass"

