$dark:        		#23262e
$light:           	#f2f2f2
$accent:            rgba(0, 180, 173, 0.98)
$roboto:          	"Roboto", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif
$headlines:       	$roboto
$running:			$roboto
$testimonials: 	  	$roboto

$font-sm-ld:      	1.5em
$font-sm-pt:      	0.8em
$bind-med:        	900px
$bind-wide:    	  	1200px

@mixin tween($speed)
	transition: all $speed ease

@import "lib/slick.sass"

@import "partials/reset.sass"
@import "partials/type.sass"
@import "partials/links.sass"
@import "partials/colour.sass"
@import "partials/grid.sass"
@import "partials/flex.sass"
@import "partials/hero.sass"
@import "partials/hero-image.sass"
@import "partials/nav.sass"
@import "partials/icons.sass"
@import "partials/app-buttons.sass"

@import "sections/app.sass"
@import "sections/steps.sass"
@import "sections/quad.sass"
@import "sections/available.sass"
@import "sections/roundels.sass"
@import "sections/earn.sass"
@import "sections/video.sass"
@import "sections/footer.sass"
@import "sections/job.sass"
@import "sections/blurb.sass"
@import "sections/benefits.sass"
@import "sections/perks.sass"

@import "motion/app.sass"
@import "motion/flip.sass"
