section.about.center.light
  .inner.bind.flex
    .unit
      p We believe GoGet is a place where everyone is given a chance to achieve a sense of identity and self-worth. Consisting of such a young and driven team, our working culture is nothing short of vibrant, energetic and we are constantly on the move. Over here at GoGet, we work hard but party even harder. We are a restless bunch who are persistently coming up with fresh and new ideas to improve.
    .unit
      p Our flat management structure, quick decision-making and yummy treats create a dynamic and nurturing work environment for all. If we sound like a family you would like to be part of, do get in touch. (please drop us an email/give us a call).
  img(src="img/snap.png").shrink