section.mobile
  .flex.inner.bind
    .unit.top
      h2 Download our app for constant convenience at your fingertips.
      hr
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisipariatur. 
      hr
      a(href="#").app.plain
        img(src="img/app-play.png")
      a(href="#").app.plain
        img(src="img/app-store.png")

    .unit
      .all
        .screens
          .glare
          .screen-stich
            .screen-1
            .screen-2
            .screen-3
            .screen-4
            .screen-5