section.mobile.center.light
  .flex.center-v
    .unit.stretch.relative.details
      .flex.wrap.center-v.stretch
        .unit.top
          h2.back Download our app

        .unit.stretch
          ul.reset.app-benefits
            li 
              hgroup Quick &amp; Easy 
              p Get things done in a few clicks.
            li 
              hgroup Save Time
              p Do things you love while our GoGetters get your dailys tasks done
            li
              hgroup Safe &amp; Reliable
              p All GoGetters are trained and verified

        .unit.bottom.buttons.stretch.app-buttons
          a(href="#").app.plain.no-select.no-drag
            img(src="img/buttons/app-google.svg")
          a(href="#").app.plain.no-select.no-drag
            img(src="img/buttons/app-apple.svg")

    .unit.center-v.iphone
      .all
        .screens
          .glare
          .screen-stich
            .screen-1
            .screen-2
            .screen-3
            .screen-4
            .screen-5
