section.mobile.center
  .flex.stretch
    .unit.stretch.relative.details
      .flex.big.inner
        .unit.top
          h2 Download our app

        .unit
          ul.reset.app-benefits
            li 
              hgroup Quick &amp; Easy 
              = "Get things done in a few clicks."
            li 
              hgroup Save Time
              = "Do things you love while our GoGetters get your dailys tasks done."
            li
              hgroup Safe &amp; Reliable
              = "All GoGetters are trained and verified."

        .unit.bottom.buttons
          a(href="#").app.plain
            img(src="img/buttons/app-play.png")
          a(href="#").app.plain
            img(src="img/buttons/app-store.png")


    .unit.center-v.hello
      .all
        .screens
          .glare
          .screen-stich
            .screen-1
            .screen-2
            .screen-3
            .screen-4
            .screen-5

