section.available.white.center
  h2 Available jobs
  table.inner
    thead
      tr
        th.caps Position
        th.caps Date Posted
    tbody
      tr
        td 
          a(href="#") ipsam rem eius enim commod
        td 10.20.10 
      tr
        td 
          a(href="#") reprehenderit molestias culpa consequuntur 
        td 10.20.10 
      tr
        td 
          a(href="#") eos porro aliquid minima do
        td 10.20.10
      tr
        td 
          a(href="#") consectetur adipisicing elit
        td 10.20.10