section.available.light.center#available
  h2 Available jobs

  table.inner
    thead
      tr
        th.caps Position
        th.caps Date Posted
    tbody
      tr
        td 
          a(href="#").underline Head of Product Development/ Senior Ruby on Rails
        td 01.07.16
      tr
        td 
          a(href="#").underline iOS Developer
        td 01.07.16
      tr
        td 
          a(href="#").underline Operations Associate
        td 01.07.10
      tr
        td 
          a(href="#").underline Finance Intern
        td 01.07.10
      tr
        td 
          a(href="#").underline Front-End Developer and Graphic Designer 
        td 01.07.10