section.available.light.center#available
  h2 Available jobs

  table.inner
    thead
      tr
        th.caps Position
        th.caps Date Posted
    tbody
      tr
        td 
          a(href="#").hover Head of Product Development/ Senior Ruby on Rails
        td 01.07.16
      tr
        td 
          a(href="#").hover iOS Developer
        td 01.07.16
      tr
        td 
          a(href="#").hover Operations Associate
        td 01.07.10
      tr
        td 
          a(href="#").hover Finance Intern
        td 01.07.10
      tr
        td 
          a(href="#").hover Front-End Developer and Graphic Designer 
        td 01.07.10




    



 


     