section.beggars.flex#beggars
  .turn.flex
    .col.help
      img(src="img/beggars/b5.png").boundary
    .col.fires
      img(src="img/beggars/b2.png").boundary
    .col.discovery
      img(src="img/beggars/b3.png").boundary
    .col.sfa
      img(src="img/beggars/b4.png").boundary
    .col.ward
      img(src="img/beggars/b1.png").boundary
    .col.sufjan
      img(src="img/beggars/b6.png").boundary
