section.beggars.flex
  .turn.flex
    .col
      img(src="img/beggars/b1.png").boundary
    .col
      img(src="img/beggars/b2.png").boundary
    .col
      img(src="img/beggars/b3.png").boundary
    .col
      img(src="img/beggars/b4.png").boundary
    .col
      img(src="img/beggars/b5.png").boundary
    .col
      img(src="img/beggars/b6.png").boundary
