section.benefits.center.dark
  h2 GoGetter Benefits
  ul.reset.benefits.bind-wide.flex.inner
    li.unit.equal
      hgroup 
        | Give
        br
        | Back
      p Help others and earn money at the same time
    li.unit.equal
      hgroup 
        | Be your
        br
        | own boss
      p Claim jobs at your convenience
    li.unit.equal
      hgroup 
        | Earn
        br
        | extra cash 
      p The more jobs you complete, the more you earn 
    li.unit.equal
      hgroup 
        | 24 hour
        br 
        | access
      p Claim jobs anytime and anywhere
    li.unit.equal
      hgroup 
        | Safe
        br 
        | &amp; Secure
      p Work in a safe and secure environment