section.benefits.center.dark
  h2 GoGetter Benefits
  ul.reset.categories.inner.bind-wide
    li
      span.h3 Give Back
      span.examples Help others and earn money at the same time
    li
      span.h3 Be your own boss
      span.examples Claim jobs at your convenience
    li
      span.h3 Earn extra cash 
      span.examples The more jobs you complete, the more you earn 
    li
      span.h3 24 hour access
      span.examples Claim jobs anytime and anywhere
    li
      span.h3 Safe &amp; Secure
      span.examples Work in a safe and secure environment