section.earn.teal
  .flex.wrap.inner.bind
    .unit.top
      h2 Earn in your free time
    .unit
      img(src="img/earn.png").no-select
    .unit.bottom
      a(href="#").plain.caps.breathe.button.cta.outline.no-select Become a GoGetter