section.earn.light

  .inner.bind.flex.wrap.center-h
    
    .unit.top
      h2 Earn in your free time
      //- img(src="img/global/mascot.svg").mascot
    
    .unit.center-v
      img(src="img/global/mascot.svg").mascot
      //- h2 Earn in your free time
    
    .unit.bottom
      a(href="#").plain.caps.button.inline-block.white Be a GoGetter

