section.earn
  .inner.bind.flex.wrap.center-h
    .unit.top
      h2 Earn in your free time
    .unit.center
      img(src="img/earn.png")
    .unit.bottom
      a(href="#").plain.caps.button.inline-block.cta Become a GoGetter

