section.earn.dark

  .bind.flex.wrap.center-h

    .unit.top
      h2 Earn in your free time
    
    .unit.center-v
      img(src="img/global/mascot.svg").mascot
    
    .unit.bottom
      a(href="#").plain.caps.button.inline-block.white Be a GoGetter

