footer.dark.inner.bind
  .flex
    .unit.stretch
      ul.reset
        li 
          a(href="#").hover Home
        li 
          a(href="#").hover Login to GoGet
        li 
          a(href="#").hover FAQ
        li
          a(href="#").hover About GoGet
        li
          a(href="#").hover GoGet for Business
        li
          a(href="#").hover Become a GoGetter
        li
          a(href="#").hover Staff Vacancies
        li
          a(href="#").hover Terms &amp; Conditions
        li.legal contact@goget.my
        li.legal &copy; GoGet.my 2015

    .unit.stretch
      
      ul.reset
        li Twitter
        li Facebook
        li Gmail