footer.dark
  .flex.inner.bind.contents
    .unit.stretch
      .flex
        .unit.stretch
          ul.reset
            li
              a(href="index.html").hover Home
            li
              a(href="#").hover Sign up to GoGet
            li
              a(href="#").hover Log in to GoGet
            li
              a(href="https://gogetmy.zendesk.com/hc/en-us").hover FAQ

        .unit.stretch
          ul.reset
            li
              a(href="#").hover About GoGet
            li
              a(href="#").hover GoGet for Business
            li
              a(href="become.html").hover Become a GoGetter
            li
              a(href="vacancy.html").hover Staff Vacancies
            li
              a(href="terms.html").hover Terms &amp; Conditions

    .unit.stretch.right.social
      a(href="#").plain
        img(src="img/icons/icon-social-facebook.svg")
      a(href="#").plain
        img(src="img/icons/icon-social-instagram.svg")
      a(href="#").plain
        img(src="img/icons/icon-social-twitter.svg")

  .flex.inner.bind.legal
    .unit.stretch
      small
        a(href="#").hover contact@goget.my
        br
        | GOGET.MY &copy;2015
