footer.dark.inner
  ul.reset
    li 
      a(href="#").plain Home
    li 
      a(href="#").plain Login to GoGet
    li 
      a(href="#").plain FAQ
    li
      a(href="#").plain Blog
    li
      a(href="#").plain About GoGet
    li
      a(href="#").plain GoGet for Business
    li
      a(href="#").plain Become a GoGetter
    li
      a(href="#").plain Staff Vacancies
    li
      a(href="#").plain Terms &amp; Conditions
    li contact@goget.my
    li © GoGet.my 2015


  ul.reset
    li Twitter
    li Facebook
    li Gmail