header
  nav
    .left
      img(src="img/logo.png").logo
    .right
      ol
        li.h3.login 
          a(href="#").plain.breathe Login
        li.h3.faq 
          a(href="#").plain.breathe FAQ
        li.h3.blog 
          a(href="#").plain.breathe Blog

  section.hero
    a(href="#slide-prev").arrow.left
      img(src="img/arrow-left.svg").button

    .title  
      h1 Your demands delivered to your doorstep

      .slider-nav
        a(href="#slide-0").active Slide 0 
        a(href="#slide-1") Slide 1
        a(href="#slide-2") Slide 2 

    a(href="#slide-next").arrow.right
      img(src="img/arrow-right.svg").button