header.index.center
  
  include ../partials/nav

  .what.slider
    div.done
      blockquote Get More Stuff Done
    div.easy
      blockquote Easy &amp; Reliable Help
    div.reliable
      blockquote Reliable Delivery Service


