header.index
  .flex.wrap.inner.bind.center-h
    .unit.top
      include ../partials/nav

    .unit.center-v
      section.hero.flex
        .unit.center-v
          a(href="#slide-prev").arrow.left
            img(src="img/buttons/arrow-left.svg").button#prev

        .unit.center-v
          small Convenience at your fingertips
          ol.shadow#titles
            li.h1.active Get More Stuff Done
            li.h1 Easy &amp; Reliable Help
            li.h1 Reliable Delivery Service

          .slider-nav
            a(href="#slide-0").active Slide 0 
            a(href="#slide-1") Slide 1
            a(href="#slide-2") Slide 2 

        .unit.center-v
          a(href="#slide-next").arrow.right
            img(src="img/buttons/arrow-right.svg").button#next

    .unit.bottom.app-buttons
      a(href="#").app.plain
        img(src="img/buttons/app-play.png")
      a(href="#").app.plain
        img(src="img/buttons/app-store.png")
