header.become.center#waypoint-1
  include ../partials/nav

  .hero-wrap.dark.slider
    .hero.hero-1
      .flex.stretch.wrap
        .unit.center-v
          hgroup Possible supporting copy  
          h1 Become a GoGetter
