header.index.center#waypoint-1
  include ../partials/nav

  .index-hero.dark.slider
    .hero.hero-1
      .flex.stretch.wrap
        .unit.center-v
          hgroup 
            | Convenience 
            span.br at your fingertips

          h1 Get More Stuff Done
          a(href="#").plain.caps.button.inline-block.white HERO CTA [1]

    .hero.hero-2
      .flex.stretch.wrap
        .unit.center-v
          hgroup 
            | Convenience 
            span.br at your fingertips

          h1 Easy &amp; Reliable Help
          a(href="#").plain.caps.button.inline-block.white HERO CTA [2]

    .hero.hero-3
      .flex.stretch.wrap
        .unit.center-v
          hgroup 
            | Convenience 
            span.br at your fingertips

          h1 Reliable Delivery Service
          a(href="#").plain.caps.button.inline-block.white HERO CTA [3]



  .hero.app-buttons.inline
    a(href="#").app.plain
      img(src="img/buttons/app-google.svg")
    a(href="#").app.plain
      img(src="img/buttons/app-apple.svg")