header.index.center#hero
  
  include ../partials/nav

  .what.slider
    div.hero-1
      h1 Get More Stuff Done
    div.hero-2
      h1 Easy &amp; Reliable Help
    div.hero-3
      h1 Reliable Delivery Service


