header.index.center#hero
  include ../partials/nav
  .index-hero.slider
    .hero-1
      .lockup
        h1 Get More Stuff Done
        a(href="#").plain.caps.button.inline-block.white Mega CTA 1

    .hero-2
      .lockup
        h1 Easy &amp; Reliable Help
        a(href="#").plain.caps.button.inline-block.white Mega CTA 2

    .hero-3
      .lockup
        h1 Reliable Delivery Service
        a(href="#").plain.caps.button.inline-block.white Mega CTA 3
