header.jobs.center#waypoint-1
  include ../partials/nav

  .hero-wrap.dark.slider
    .hero.hero-1
      .flex.stretch.wrap
        .unit.center-v
          hgroup Possible supporting copy  
          h1 Vacancies at GoGet
          //- a(href="#").plain.caps.button.inline-block.white HERO CTA [1]
