section.info.center.dark
  h2 Come join an enthusiastic bunch of go-getters
  .inner.bind
    p Are you passionate? Resourceful? Reliable? 
    p Or simply want to contribute to the community? If you are, come join a family filled with people from different backgrounds, cultures, experiences and knowledge who are all determined to make a change in the world.