section.job.light

  .bind

    h2 iOS Developer

    .inner

      .flex.wrap
        .unit.stretch
          dl
            dt Location
            dd GoGet head office
            br
            dt Role
            dd Permanent
            br
            dt Salary
            dd Dependent on experience
      
      hr

      .flex
        .unit

          p As the head of product you will report directly to the CTO and help craft and manage the product strategy, short and long term planning. You will work with the current Ruby on Rails platform and have the ability to lead a team to architect new features as well as address security, stability and scaling issues and refactor old code to address these issues. Your team will be creating REST APIs for iOS, Android as well as external services to integrate with.

          p You will be responsible for ensuring that we are able to scale our platform to multiple countries, driving improvements in routing and matching and strategizing payments across multiple countries.

          p You will also work closely with the rest of the GoGet team to drive our technology arm and your ideas will strongly influence our technology decisions for the future, helping to improve strategies with not only technology, but also how tech can help improve user experience, operations and marketing. Working with us, you will have a strong voice in our team and together we can work to truly make a difference.

          p Requirements:

          ul.indent
            li has experience in developing applications with Ruby on Rails
            li demonstrable knowledge of front-end technologies such as JavaScript, HTML, CSS &amp; JQuery
            li to have a good understanding of testing for application issues, performance, scalability and stability
            li high level of experience in working with cross border applications
            li high level of experience in working with applications that involve payment integrations for large international markets
            li high level of experience in working with building algorithms for applications with logistic, mapping or routing characteristics
            li to collaborate with cross-functional teams to define, design and develop new features
            li to want to influence our technology platform for the better and have views on how it can help grow the community better
            li to continuously discover, evaluate and implement new technologies to maximize development efficiency
            li experience working with third-party libraries and APIs, such as google maps
            li working knowledge of the general web landscape, architectures, trends and emerging technologies
            li a strong desire for something new and fresh
            li to be resourceful and a “Go-Getter” in real life
            li like to eat ice cream
            li basic grasp of the English Language, a personal laptop to use on the job and own transportation to work and to travel around"



        .unit
          a(href="#").center.plain.caps.button.block.cta.small Apply Now
          a(href="#").center.plain.caps.button.outline.block.small Share this Job
          a(href="#").center.plain.caps.button.outline.block.small View Job Board