section.job.light

  .flex.wrap.inner.bind
    .unit
      h2 iOS Developer

  .flex.bind.inner.bind
    .unit
      dl
        dt Location
        dd GoGet head office
        br
        dt Role
        dd Permanent
        br
        dt Salary
        dd Dependent on experience

      p GoGet is looking for iOS Developers to join our team! We are looking for someone who has the passion to push mobile technologies to change the world and drive our community forward.

      p As a GoGet mobile developer you will be responsible for building the native mobile front end on iOS of our next generation mobile applications. You will have to work with our backend application team to understand and build on top of our APIs that would utilise REST and JSON.

      p You will also work closely with the rest of the GoGet team to drive our mobile application arm and your ideas could strongly influence our technology decisions for the future. Working with us, you will have a strong voice in our team and together we can work to truly make a difference.

      p Ideally, you need:

      ul.indent
        li to have published one or more iOS app
        li experience working with the iOS framework
        li experience working with remote data via REST and JSON
        li experience working with third-party libraries and APIs, such as google maps
        li working knowledge of the general mobile landscape, architectures, trends and emerging technologies
        li a solid understanding of the full mobile development life cycle
        li a strong desire for something new and fresh
        li to be resourceful and a “Go-Getter” in life
        li like to eat ice cream

      p Applicants must have a basic grasp of the English Language and own transportation to work and to travel around.

    .unit
      a(href="#").center.plain.caps.button.outline.block.cta.small Apply Now
      a(href="#").center.plain.caps.button.outline.block.small Share this Job
      a(href="#").center.plain.caps.button.outline.block.small View Job Board