//- section.kia.flex.h-center
	//- .parent
		//- img(src="img/kia/mast/eq-3.jpg").boundary
		//- img(src="img/kia/mast/eq-2.jpg").boundary
		//- img(src="img/kia/mast/eq-1.jpg").boundary
		//- img(src="img/kia/mast/eq-5.jpg").boundary

		//- img(src="img/kia/mast/notes-4.jpg").boundary
		//- img(src="img/kia/mast/notes-2.jpg").boundary
		//- img(src="img/kia/mast/notes-5.jpg").boundary
		

		//- img(src="img/kia/mast/notes-3.jpg").boundary
		//- img(src="img/kia/mast/skip-2.jpg").boundary
		//- img(src="img/kia/mast/skip-3.jpg").boundary
		//- img(src="img/kia/mast/skip-1.jpg").boundary
		//- img(src="img/kia/mast/skip-5.jpg").boundary
		//- img(src="img/kia/mast/skip-4.jpg").boundary


