section.lgn.flex
    video(autoplay loop).boundary
        source(src='video/lgn/lgn.mp4'  ,  type='video/mp4')
        source(src='video/lgn/lgn.webm' ,  type='video/webm')
        source(src='video/lgn/lgn.ogv'  ,  type='video/ogg')