section.quad.dark.center
  h2 Let us help you with
  .flex.stretch
    .unit.stretch.quad.quad-1
      .flex.stretch.center-h
        .unit.center-v.info
          .first
            img(src="img/icons/icon-use-1.png").no-select.no-drag
            hgroup Dispatch
          .second
            ul.reset
              li Pick up &amp; drop off items
              li
                a(href="#") Documents
              li
                a(href="#") Parcels
              li
                a(href="#") Flowers
              li
                a(href="#") Pet Food


    .unit.stretch.quad.quad-2
      .flex.stretch.center-h
        .unit.center-v.info
          .first
            img(src="img/icons/icon-use-2.png").no-select.no-drag
            hgroup Shopping
          .second
            ul.reset
              li Buy &amp; send items
              li
                a(href="#") Groceries
              li
                a(href="#") Presents
              li
                a(href="#") Household Items 
              li
                a(href="#") Cake


  .flex
    .unit.stretch.quad.quad-3
      .flex.stretch.center-h
        .unit.center-v.info
          .first
            img(src="img/icons/icon-use-3.png").no-select.no-drag
            hgroup Food Delivery
          .second
            ul.reset
              li Deliver food
              li
                a(href="#") Restaurants
              li
                a(href="#") Cafes
              li
                a(href="#") Mamaks
              li
                a(href="#") Local Food Stalls


    .unit.stretch.quad.quad-4
      .flex.stretch.center-h
        .unit.center-v.info
          .first
            img(src="img/icons/icon-use-4.png").no-select.no-drag
            hgroup Helper

          .second
            ul.reset
              li Extra help for couple of hours
              li
                a(href="#") Flyering
              li
                a(href="#") Assembling Furniture 
              li
                a(href="#") Cleaning
              li
                a(href="#") Office Tasks

