section.quote.light
  .flex.wrap.inner.bind
    .unit
      blockquote GoGet is like having a team of staff without having to pay a salary GoGet is like having a team of staff without having to pay a salary
      cite {CREDIT}
    .unit
      .slider-nav
        a(href="#slide-0").active Slide 0 
        a(href="#slide-1") Slide 1
        a(href="#slide-2") Slide 2 