section.roundels.dark

  .bind.center

    .flip#wash
      img(src="img/components/testimonials/testimonial-0.png").first.no-select.no-drag.no-pointer#profile-1
      img(src="img/components/testimonials/testimonial-1.png").second.no-select.no-drag.no-pointer#profile-2

    //- #wash
    //-   img(src="img/components/testimonials/testimonial-0.png").first.no-select.no-drag.no-pointer#profile-1
    //-   img(src="img/components/testimonials/testimonial-1.png").second.no-select.no-drag.no-pointer#profile-2


    .testimonials-img.flex.stretch#profile-row
      .unit.stretch.size160
        img(src="img/components/testimonials/testimonial-0.png").profile.testimonials-img-0.no-select.no-drag
      .unit.stretch.size160
        img(src="img/components/testimonials/testimonial-1.png").profile.testimonials-img-1.no-select.no-drag
      .unit.stretch.size160
        img(src="img/components/testimonials/testimonial-2.png").profile.testimonials-img-2.no-select.no-drag


    .testimonials.no-select
      div.no-select
        blockquote.no-select I can now save my time for things I&rsquo;d rather do.
        cite Yo Han

      div.no-select
        blockquote.no-select GoGetters go the extra mile to get everything on my todo list done. I never have to worry.
        cite Malvin
      
      div.no-select
        blockquote.no-select My job gets done with reliable help while I also save on petrol, toll and parking!
        cite Aziz


