section.quote.inner.bind.center.dark
  .flip.size160.delay500.turn
    img(src="img/components/testimonials/yohan.png").first
    img(src="img/components/testimonials/yohan.png").second

  .testimonials.slider
    div
      blockquote I can now save my time for things I'd rather do.
      cite Yo Han

    div
      blockquote GoGetters go the extra mile to get everything on my to-do list done. I never have to worry
      cite Malvin
    
    div
      blockquote My job gets done with reliable help while I also save on petrol, toll and parking!
      cite Aziz


