section.quote.dark

  .inner.bind.center

    .flip.size160#profile-turn
      img(src="img/components/testimonials/testimonial-0.png").first#profile-1
      img(src="img/components/testimonials/testimonial-1.png").second#profile-2


    .testimonials-img.flex.stretch#profile-row
      .unit.stretch.size160
        img(src="img/components/testimonials/testimonial-0.png").profile.testimonials-img-1
      .unit.stretch.size160
        img(src="img/components/testimonials/testimonial-1.png").profile.testimonials-img-1
      .unit.stretch.size160
        img(src="img/components/testimonials/testimonial-2.png").profile.testimonials-img-1


    .testimonials
      div
        blockquote I can now save my time for things I’d rather do.
        cite Yo Han

      div
        blockquote GoGetters go the extra mile to get everything on my to-do list done. I never have to worry.
        cite Malvin
      
      div
        blockquote My job gets done with reliable help while I also save on petrol, toll and parking!
        cite Aziz


