section.roundels.dark
  .bind.center
    .quote
      div.no-select.no-drag.no-outline
        img(src="img/components/quote/poster-0.png")
        blockquote I can now save my time for things I&rsquo;d rather do.
        cite Yo Han

      div.no-select.no-drag.no-outline
        img(src="img/components/quote/poster-1.png")
        blockquote GoGetters go the extra mile to get everything on my todo list done. I never have to worry.
        cite Malvin
      
      div.no-select.no-drag.no-outline
        img(src="img/components/quote/poster-2.png")
        blockquote My job gets done with reliable help while I also save on petrol, toll and parking!
        cite Aziz