section.steps.dark.center#steps
  h2 How it works
  ol.no-list.inner
    li
      .wrap.no-select
        img(src="img/step-a-alpha-75.png").alpha
        img(src="img/step-a-icon-75.png").icon
      h3.breathe Create a job
      p Tell us what you need to get done.

    li
      .wrap.no-select
        img(src="img/step-b-alpha-75.png").alpha
        img(src="img/step-b-icon-75.png").icon
          
      h3.breathe GoGetter Claims
      p A verified GoGetter will do the job!

    li
      .wrap.no-select
        img(src="img/step-c-alpha-75.png").alpha
        img(src="img/step-c-icon-75.png").icon
      h3.breathe Pay cash on delivery
      p Reward your GoGetter for helping you out.