section.steps.dark.center#steps
  h2 How it works
  ol.no-list.inner.bind
    li
      .flip.no-select
        img(src="img/components/step/step-1.png").first
        img(src="img/components/step/step-a-icon-75.png").second
      h3.breathe Create a job
      p Tell us what you need to get done.

    li
      .flip.delay250.no-select
        img(src="img/components/step/step-2.png").first
        img(src="img/components/step/step-b-icon-75.png").second
          
      h3.breathe GoGetter Claims
      p A verified GoGetter will do the job!

    li
      .flip.delay500.no-select
        img(src="img/components/step/step-3.png").first
        img(src="img/components/step/step-c-icon-75.png").second
      h3.breathe Pay cash on delivery
      p Reward your GoGetter for helping you out.