section.steps.dark.center#steps
  h2 How we work

  ol.reset.bind.flex
    li.unit.stretch.equal
      .flip.size70.no-select.roundel
        img(src="img/icons/icon-step-1-num.svg").first
        img(src="img/icons/icon-step-1-pic.svg").second
      hgroup Pick a task
      h4 Provide job details

    li.unit.stretch.equal
      .flip.size70.delay250.no-select.roundel
        img(src="img/icons/icon-step-2-num.svg").first
        img(src="img/icons/icon-step-2-pic.svg").second
      hgroup Get a GoGetter
      h4 Recieve notification when a GoGetter claims your job

    li.unit.stretch.equal
      .flip.size70.delay500.no-select.roundel
        img(src="img/icons/icon-step-3-num.svg").first
        img(src="img/icons/icon-step-3-pic.svg").second
      hgroup Job Completed
      h4 Reward your GoGetter with fee you have set