section.steps.dark.center#steps
  h2 How we work
  ol.no-list.inner.bind

    li
      .flip.size70.no-select
        img(src="img/icons/icon-step-1-num.svg").first
        img(src="img/icons/icon-step-1-pic.svg").second
      hgroup Pick a task
      h3 Provide job details

    li
      .flip.size70.delay250.no-select
        img(src="img/icons/icon-step-2-num.svg").first
        img(src="img/icons/icon-step-2-pic.svg").second
      hgroup Get a GoGetter
      h3 Recieve notification when a GoGetter claims your job

    li
      .flip.size70.delay500.no-select
        img(src="img/icons/icon-step-3-num.svg").first
        img(src="img/icons/icon-step-3-pic.svg").second
      hgroup Job Completed
      h3 Reward your GoGetter with fee you have set