section.use
  h2 Use GoGet
  ul.no-list.categories
    li Dispatch
      ul.no-list.examples
        li Electronics Delivery
        li Dispatch Service
        li Document Delivery
        li On-Demand, 1 Hour
        li Food Delivery
        li Bulk Deliveries

    li Shopping
      ul.no-list.examples
        li Alcohol Purchase
        li Grocery Shopping
        li Shopping Assistance

    li Events
      ul.no-list.examples
        li Event Helpers
        li Event Staff

    li Extra help
      ul.no-list.examples
        li Personal Helper
        li Part Time Help
        li Merchandising Help
        li Flyer Distribution
        li Pet Sitter
        li Survey Respondents

    li Other tasks
      ul.no-list.examples
        li Laundry
        li Hospital Visits
        li Gifts &amp; Surprises 
