section.use.center.dark
  h2 Use GoGet
  ul.no-list.categories.inner
    li.h3 Dispatch
      ul.caps.small.no-list.examples
        li
          a(href="#").hover Electronics Delivery
        li 
          a(href="#").hover Dispatch Service
        li 
          a(href="#").hover Document Delivery
        li 
          a(href="#").hover On-Demand, 1 Hour
        li 
          a(href="#").hover Food Delivery
        li 
          a(href="#").hover Bulk Deliveries

    li.h3 Shopping
      ul.caps.no-list.examples
        li
          a(href="#").hover Alcohol Purchase
        li
          a(href="#").hover Grocery Shopping
        li
          a(href="#").hover Shopping Assistance

    li.h3 Events
      ul.caps.no-list.examples
        li 
          a(href="#").hover Event Helpers
        li 
          a(href="#").hover Event Staff

    li.h3 Extra help
      ul.caps.no-list.examples
        li 
          a(href="#").hover Personal Helper
        li 
          a(href="#").hover Part Time Help
        li 
          a(href="#").hover Merchandising Help
        li 
          a(href="#").hover Flyer Distribution
        li 
          a(href="#").hover Pet Sitter
        li 
          a(href="#").hover Survey Respondents

    li.h3 Other tasks
      ul.caps.no-list.examples
        li 
          a(href="#").hover Laundry
        li 
          a(href="#").hover Hospital Visits
        li 
          a(href="#").hover Gifts &amp; Surprises 
