section.video.center.dark
  .controls.flex.wrap
    .unit.top
      h2 Introduction to GoGet
    .unit.center
      a(href="#")#play
        img(src="img/buttons/play.png").btnVideo
    .unit.bottom
      small.info Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  video(width="100%" poster="components/video/poster.jpg")#movie
    source(src="video/hello.mov" type="video/mp4")
