section.video.center.dark
  .controls.flex.wrap
    .unit.top
      h2 Introduction to GoGet
    .unit
      a(href="#")#play
        img(src="img/play.png")
    .unit.bottom
      small Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  video(width="100%" poster="video/poster.jpg")#movie
    source(src="video/hello.mov" type="video/mp4")

