section.video.center.dark

  .controls.flex
    .unit
      h2 Introduction to GoGet
    .unit
      a(href="#")
        img(src="img/play.png").play
    .unit
      small Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  video(width="100%" controls poster="video/poster.jpg")
    source(src="video/hello.mov" type="video/mp4")

