section.video.center
  h2 Understand us more

  .controls.flex.wrap
    .unit.center-v
      a(href="#")#play
        img(src="img/components/video/play.png").btnVideo
  
  video(width="100%" preload="none" poster="img/components/video/poster.jpg")#movie
    source(src="video/hello.mov" type="video/mp4")
  
