section.video.center.inner
  h2 Understand us more

  .controls.flex.wrap
    .unit.center-v
      a(href="#")#play
        img(src="img/components/video/play.png").btnVideo
  

  video(width="100%" preload="none")#movie
    source(src="video/hello.mov" type="video/mp4")
  
  //- small.info Possible supporting copy here. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
