section.roundels.center.light.wisdom

  //- h2 Words of Wisdom from our GoGetters
  h2 Testimonials From Our GoGetters

  .bind.center
    .fader.size160
      .wash#wash
      img(src="img/components/testimonials/testimonial-0.png")#profile-overlay

    .testimonials-img.flex.stretch#profile-row
      .unit.stretch.size160
        img(src="img/components/wisdom/wisdom-1.png").profile.testimonials-img-0.no-select.no-drag
      .unit.stretch.size160
        img(src="img/components/wisdom/wisdom-2.png").profile.testimonials-img-1.no-select.no-drag
      .unit.stretch.size160
        img(src="img/components/wisdom/wisdom-3.png").profile.testimonials-img-2.no-select.no-drag


    .testimonials
      div
        hgroup Muhammad Rabbani
        p When I carry out GoGet jobs, I have much more freedom than doing desks jobs that I personally do not like. I do what I love and love what I do! There have been some crazy jobs that have required me to camp overnight at a shopping mall! That was something I never thought I would ever do!

      div
        hgroup Liyana
        p With a full time ‪job‬ it is very hard to arrange ‪time‬ to contribute to the community. With ‪GoGet‬, now I get the ‪opportunity‬ to help people get their ‪things done and at the same time be part of an amazing ‪family‬ who work towards giving back to the ‪community.‬
      
      div
        hgroup Navin
        p GoGet is really cool because it provides busy people with a chance to get someone to complete their time consuming tasks for them. As a GoGetter, it is great that I can make a person's day just by completing their tasks. It is amazing as even the smallest task could have the biggest impact on someone else's life. The smiles I get are rewarding enough.


    a(href="#").plain.caps.button.cta Be a Gogetter
