section.roundels.center.light

  h2 Words of Wisdom from our GoGetters

  .bind.center
    .fader.size160
      .wash#wash
      img(src="img/components/testimonials/testimonial-0.png")#profile-overlay

    .testimonials-img.flex.stretch#profile-row
      .unit.stretch.size160
        img(src="img/components/wisdom/wisdom-1.png").profile.testimonials-img-0.no-select.no-drag
      .unit.stretch.size160
        img(src="img/components/wisdom/wisdom-2.png").profile.testimonials-img-1.no-select.no-drag
      .unit.stretch.size160
        img(src="img/components/wisdom/wisdom-3.png").profile.testimonials-img-2.no-select.no-drag


    .testimonials
      div
        hgroup Name
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad ipsam rem eius enim commodi reprehenderit molestias culpa consequuntur, eos porro aliquid minima dolorem repudiandae vel illo illum eveniet dignissimos.

      div
        hgroup Name
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad ipsam rem eius enim commodi reprehenderit molestias culpa consequuntur, eos porro aliquid minima dolorem repudiandae vel illo illum eveniet dignissimos.
      
      div
        hgroup Name
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad ipsam rem eius enim commodi reprehenderit molestias culpa consequuntur, eos porro aliquid minima dolorem repudiandae vel illo illum eveniet dignissimos.


    a(href="#").plain.caps.button.cta Become a Gogetter
