section.wisdom.center.light
  h2 Words of Wisdom from out GoGetters
  .inner
    .flex.bind
      .unit
        img(src="img/components/wisdom/wisdom-1.png")
        h3 Name
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad ipsam rem eius enim commodi reprehenderit molestias culpa consequuntur, eos porro aliquid minima dolorem repudiandae vel illo illum eveniet dignissimos.
      .unit
        img(src="img/components/wisdom/wisdom-2.png")
        h3 Name
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad ipsam rem eius enim commodi reprehenderit molestias culpa consequuntur, eos porro aliquid minima dolorem repudiandae vel illo illum eveniet dignissimos.

      .unit
        img(src="img/components/wisdom/wisdom-3.png")
        h3 Name
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad ipsam rem eius enim commodi reprehenderit molestias culpa consequuntur, eos porro aliquid minima dolorem repudiandae vel illo illum eveniet dignissimos.
      
    .flex.wrap
      .unit
        a(href="#").plain.caps.button.outline.inline-block Become a Gogetter