hr

.flex
	.col.stretch
		ul.bio
			li Christopher Droom
			li London, Berlin
			li +44(0)7522 532 192
			li
				a(href="mailto:yo@droom.io") yo@droom.io

	//- .col.stretch.vr
	//- 	ul.skills
	//- 		li Design (Photoshop, Illustrator)
	//- 		li Front-End (HTML, CSS, JQuery)
	//- 		li Motion (After Effects)
		//- hr
		//- ul.social
		//- 	li
		//- 		a(href="https://www.linkedin.com/chrisdroom") LinkedIn
		//- 	li
		//- 		a(href="https://www.dribbble.com/droom") Dribbble
		//- 	li
		//- 		a(href="https://www.codepen.com/droom") Codepen
		//- 	li
		//- 		a(href="#") Mixcloud
		//- 	li
		//- 		a(href="#") Genius
