h4 
	span.para &para;
	br
	| Thank you for viewing. 
	br
	| If you'd like to see more, please take a look at my main portfolio.

hr

a(href="http://droom.io").btn.cta View droom.io
a(href="mailto:yo@droom.io").btn Email me

hr