- var appbtns       = false
- var type          = "large"
- var page          = "about"
- var strap         = ""
- var titles        = [["About Us", "", "" ]]

doctype html
html
  include partials/head
  
  body
    include sections/hero

    section.benefits.center.dark
      h2.bind We empower people to do what they need to do through staying connected.

    section.blurb.center.light.columns
      .inner.bind.flex
        .unit
          p Founded in June 2014, GoGet is a marketplace that connects people who need reliable help to those who want to lend a hand and earn in return.
          p Our online platform allows users to post requests via a web application or app. These requests range from dispatch, shopping, food delivery or any helper related task. It is then carried out by safe and verified people in the community called ”GoGetters”.

        .unit
          p Lack of time or distance will no longer be an issue to get things done. People who are busy, do not have transport or lack knowledge on where to find items, can now get things done. And no longer will Malaysians have to accept the minimum wage. We provide the opportunity to earn extra money within a flexible working environment.
          p Join us, as we build a new fabric for urban logistics. It will redefine the way we experience, transact and help each other to build a better community."


    section.split.flex

      section.start.flex.wrap.center-h.dark
        .unit.top
          h2 Get Easy &amp; Reliable Help
        .unit.bottom
          a(href="#").plain.caps.button.inline-block.white Post a Job Now


      section.earn.flex.wrap.center-h.dark
        .unit.top
          h2 Earn in your free time
        .unit.bottom
          a(href="#").plain.caps.button.inline-block.white Be a GoGetter



    include sections/footer
    include partials/scripts