- var appbtns       = false
- var type          = "large"
- var page          = "become"
- var strap         = ""
- var titles        = [["Be a GoGetter", "Apply Now", "/path/to" ]]


doctype html
html
  include partials/head
  
  body
    include sections/hero
    include sections/benefits
    include sections/video
    include sections/wisdom
    include sections/footer
    include partials/scripts