//- html
//-   include partials/head
  
//-   body
//-     include sections/hero-become
//-     include sections/benefits
//-     include sections/video
//-     include sections/wisdom
//-     include sections/footer
//-     include partials/scripts