doctype html
html
  head
    include partials/head

  body
    .wrap
      include partials/header
      include sections/email
      include sections/gfc
      include sections/beggars
      include sections/jarvis
      include sections/doobie

      include sections/clarks
      include sections/lgn
      include sections/kia
      include sections/sos

      include sections/gr-app
      include sections/gr-print
      include sections/orange
      include sections/ideahouse-print
      include sections/ideahouse-app
      include partials/footer

      //- include sections/reform

    script(type='text/javascript', src='js/circus.js')
