html
  include partials/head
  
  body

    include sections/hero
    include sections/steps
    include sections/job
    include sections/available
    include sections/use
    include sections/wisdom
    include sections/app
    include sections/video
    include sections/earn
    include sections/quote
    include sections/footer


    include partials/scripts