html
  include partials/head
  
  body
    include sections/hero-index
    include sections/steps
    //- include sections/video
    //- include sections/use
    //- include sections/app
    //- include sections/earn
    include sections/quote
    include sections/footer

    include partials/scripts