- var appbtns       = true
- var type          = "large"
- var page          = "index"
- var strap         = "There's an opening at GoGet"
- var titles        = [["Get More Stuff Done", "HERO CTA [1]", "/path/to" ],  ["Easy & Reliable Help", "HERO CTA [2]", "/path/to"], ["Reliable Delivery Service", "HERO CTA [3]", "/path/to"]]


doctype html
html
  include partials/head
  
  body
    include sections/hero
    include sections/steps
    include sections/video
    include sections/quad
    include sections/app
    include sections/quote
    include sections/earn
    include sections/footer
    include partials/scripts