doctype html
html
  include partials/head
  
  body
    include sections/hero-index
    include sections/steps
    include sections/quad
    include sections/app
    include sections/quote
    include sections/earn
    include sections/footer


    include partials/scripts