doctype html
html
  head
    include partials/head

  body
    .wrap
      include partials/header
      include sections/email
      include sections/gfc
      include sections/beggars
      include sections/jarvis
      include sections/gr-app
      include sections/gr-print
      
      include sections/clarks
      include sections/ideahouse
      include sections/lgn
      include sections/kia
      include sections/sos
      //- include sections/reform
      include sections/orange
      include partials/footer

    script(type='text/javascript', src='js/circus.js')
