html
  include partials/head
  
  body
    include sections/header
    include sections/steps

    section.split
      .left
        img(src="img/testimonial.jpg")
      .right
        img(src="img/earn.jpg")


    include sections/use
    include partials/footer
    include partials/scripts