- var appbtns       = true
- var type          = "large"
- var page          = "index"
- var strap         = "Convenience at your fingertips"
- var titles        = [["Get More Stuff Done", "Learn more", "/path/to" ],  ["Easy & Reliable Help", "Learn more", "/path/to"], ["Reliable Delivery Service", "Learn more", "/path/to"]]

doctype html
html
  include partials/head
  
  body
    include sections/hero
    include sections/steps
    include sections/video
    include sections/quad
    include sections/app
    include sections/quote
    include sections/earn
    include sections/footer
    include partials/scripts