- var appbtns 		= false
- var type 			= "small"
- var page 			= "job"
- var strap 		= ""
- var titles 		= [["Vacancies at GoGet", "", "" ]]

doctype html
html
  include partials/head
  body
    include sections/hero  	
    include sections/job
    include sections/footer
    include partials/scripts