- var appbtns 		= false
- var type 			= "small"
- var page 			= "index"
- var strap 		= "There's an opening at GoGet"
- var titles 		= [["Get More Stuff Done", "", "/path/to" ]]


doctype html
html
  include partials/head
  
  body
    include sections/hero  	
    include sections/job
    include sections/footer
    include partials/scripts