html
  include partials/head
  
  body
    include sections/hero-jobs
    include sections/info
    include sections/about      
    include sections/available
    include sections/job
    include sections/footer
    include partials/scripts