- var appbtns       = false
- var type          = "large"
- var page          = "jobs"
- var strap         = ""
- var titles        = [["Get More Stuff Done", "HERO CTA [1]", "/path/to" ]]


doctype html
html
  include partials/head
  
  body
    include sections/hero
    include sections/info
    include sections/about      
    include sections/available
    include sections/footer
    include partials/scripts