- var appbtns 		= false
- var type 			= "small"
- var page 			= "job"
- var strap 		= ""
- var titles 		= [["Terms and Conditions", "", "" ]]


doctype html
html
  include partials/head
  
  body
    include sections/hero  	
    include sections/terms-module
    include sections/footer
    include partials/scripts