link(rel="apple-touch-icon-precomposed" sizes="57x57" 	href="img/icons/Icon.png")
link(rel="apple-touch-icon-precomposed" sizes="72x72" 	href="img/icons/Icon-72x72.png")
link(rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/Icon@2x.png")

//- link(rel="icon" 		type="image/png" 		href="img/icons/favicon.png")
//- link(rel="shortcut"		type="image/x-icon" 	href="img/icons/favicon.ico")
//- link(rel="icon" 		type="image/x-icon" 	href="img/icons/favicon.ico")
