- var mTitle   		= "GoGet.my"
- var mDescription  = ""
- var mKeywords     = ""
- var mURL  		= "http://www.goget.my"

- var mAuthor  		= ""
- var mPublisher   	= ""
- var mCopyright   	= ""
- var mSubject   	= ""
- var mContact  	= "contact@goget.my"
- var mTwitter  	= "@GoGetMalaysia"

- var mCharset   	= "utf-8"
- var mLangCode  	= "en"
- var mDialect   	= "US"
- var fLanguage  	= "English"

- var mState   	 	= "Kuala Lumpur"
- var mCity 	 	= "Kuala Lumpur"
- var mCountry   	= "Malaysia"
- var mZipcode   	= ""
- var mRegion    	= "MY"
- var mGeoData   	= ""

- var mImage   		= ""
- var mCanon 		= ""

meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")

meta(						charset=mCharset)
meta(name="language" 		content=mLangCode)
meta(name="title" 			content=mTitle)
meta(name="description" 	content=mDescription)
meta(name="subject" 		content=mSubject)
meta(name="keywords" 		content=mKeywords)
meta(name="author" 			content=mAuthor)
meta(name="publisher" 		content=mPublisher)
meta(name="owner" 			content=mAuthor)
meta(name="copyright" 		content=mCopyright)
meta(name="geo.region" 		content=mRegion)
meta(name="geo.placename" 	content=mCity)
meta(name="city" 			content=mCity)
meta(name="country" 		content=mCountry)
meta(name="state" 			content=mState)
meta(name="zipcode" 		content=mZipcode)
meta(name="geo.placename" 	content=mCity)
meta(name="geo.position" 	content=mGeoData)
meta(name="ICBM" 			content=mGeoData)
meta(name="robot" 			content="index, follow")
meta(name="ctype" 			content="page")
//- meta(name="path" 			content="")
//- meta(name="area" content="general")
//- meta(name="pinterest:url" content="")

meta(name="og:url" 					href=mURL)
meta(name="og:title" 				content=mTitle)
meta(name="og:site_name" 			content=mTitle)
meta(name="og:description" 			content=mDescription)
meta(name="twitter:card" 			content=mTitle)
meta(name="twitter:url" 			content=mURL)
meta(name="twitter:title" 			content=mTitle)
meta(name="twitter:description" 	content=mDescription)
meta(name="twitter:image" 			content=mImage)
meta(name="twitter:site" 			content=mAuthor)
meta(name="twitter:creator" 		content=mTwitter)

meta(property="og:image" 			content=mImage)
meta(property="og:description" 		content=mDescription)
meta(property="og:site_name" 		content=mTitle)
meta(property="og:url" 				content=mURL)
meta(property="og:title" 			content=mTitle)
meta(property="og:type" 			content="article")

