.wordmark-active.no-select
  a(href="index.html")
    .flip.size70.delay750.turn
      img(src="img/global/logo-go-mascot.svg").first.no-drag
      img(src="img/global/logo-go-word.svg").second.no-drag
    .word
      img(src="img/global/logo-get.svg").no-drag