footer.split
  .left
    
    ul.internal
      li 
        a(href="#") Home
      li 
        a(href="#") Login to GoGet
      li 
        a(href="#") FAQ
      li
        a(href="#") Blog
      li
        a(href="#") About GoGet
      li
        a(href="#") GoGet for Business
      li
        a(href="#") Become a GoGetter
      li
        a(href="#") Staff Vacancies
      li
        a(href="#") Terms &amp; Conditions

    small 
      | contact@goget.my
      br
      | © GoGet.my 2015

  .right
    ul.external
      li Twitter
      li Facebook
      li Gmail