header#header
	h1 Chris Droom at a glance
	h2 Design &plus; Front-End &plus; Motion
	h3 Available for work
	img(src="img/global/continue.svg")#continue.continue.jump

section.caption#caption
	#close
		img(src="img/global/close.svg")

	#blurb
		dl#info
			dt.project Project
			dd.project 
			dt.role Role
			dd.role 
			dt.client Client
			dd.client 
			dt.year Date
			dd.year 
			dt.desc Description
			dd.desc