nav.flex.center-v.inner.bind-wide
  .unit.top
    .wordmark-active.no-select
      .flip.size70.delay500.turn
        img(src="img/global/logo-roundel-mascot.png").first.no-drag
        img(src="img/global/logo-roundel-wordmark.png").second.no-drag
      .static
        img(src="img/global/logo-wordmark.png").static.no-drag
    .wordmark-static.no-select
        img(src="img/global/logo-static.png").static.no-drag


  .unit.center-v
    ol
      li.cta
        a(href="#").plain.caps Sign up
      li
        a(href="#").plain.caps Log in
      li 
        a(href="#").plain.caps FAQ

