nav.flex.center-v
  .unit.top
    a(href="index.html").plain
      img(src="img/logo.png").logo
  .unit
    ol
      li.focus
        a(href="#").plain.caps Sign In
      li
        a(href="#").plain.caps Sign Up
      li 
        a(href="#").plain.caps FAQ

