nav.flex.center-v
  .unit.top
    .wordmark
      .flip.delay500.no-select.turn
        img(src="img/global/logo-roundel-mascot.png").first
        img(src="img/global/logo-roundel-wordmark.png").second
      
      .static      
        img(src="img/global/logo-wordmark.png").static

  .unit.center-v
    ol
      li.cta
        a(href="#").plain.caps Sign In
      li
        a(href="#").plain.caps Sign Up
      li 
        a(href="#").plain.caps FAQ

