nav#nav
  .flex.center-v.inner.bind-wide
    .unit.top.left
      include _wordmark-inline
      //- include _wordmark-link

    .unit.center-v
      ol
        li.cta
          a(href="#").plain.caps Sign up
        li
          a(href="#").plain.caps Log in
        li 
          a(href="#").plain.caps FAQ