.dark
  background: $copyDark
  color: $bg
  a
    color: $bg
  .slider-nav a
    background: $bg


.light
  background: $bg
  color: $copyDark
  a
    color: $copyDark
  .slider-nav a 
    background: $copyDark


.teal
  background: rgba(0,180,173,1)