.dark
  background: $copyDark
  h1, h2, h3, hgroup, p, small, ol li, ul li, li a, a.hover
    color: $bg

  li
    font-weight: 200
  
  cite,  
  hgroup
    font-weight: 300
    font-size: 0.95em
    letter-spacing: 0.15em


.light
  background: #e7e7e7
  background: linear-gradient( 135deg, #fff 0% , #e7e7e7 100% )
  
  h1, h2, h3, hgroup, p, small, li a, a.hover
    color: $copyDark

  cite,  
  hgroup
    font-weight: 500
    letter-spacing: 0.07em
  p
    font-weight: 400
