html, body
  background: $light
  height: 100%
  min-height: 100%
  min-width: 320px
  font-size: 1rem


section.split
  section
    min-height: 340px
    &.start
      background-image: radial-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url("../img/editorial/start.jpg")
      background-size: cover
      background-repeat: none
    &.earn
      background-image: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url("../img/editorial/earn.jpg")
      background-size: cover 
      background-repeat: none 

@media (max-width: 570px)
  section.split
    flex-basis: 100%
    width: 100%
    flex-wrap: wrap
    section
      min-height: 280px

      &.start
        background: radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url("../img/editorial/start-570.jpg") 50% 50% no-repeat


section.contents,
section.social,
section.earn,
section.quote,
section.tiles,
section.steps,
section.use,
section.wisdom,
header,
footer
  width: 100%
  margin: auto

section,
header,
footer
  h2
    padding: 40px
  
  a.button
    margin-bottom: 40px

.bind,
.bind-wide  
  margin: auto

.bind-wide  
  max-width: $bind-wide

.bind  
  max-width: $bind-med
  
.inner
  padding: 40px 40px 45px 40px
  & + .inner
    padding-top: 0


@media (max-width: 570px)
  section,
  footer
    h2
      padding: 25px 20px 
      font-size: 22px
  
    a.button
      margin-bottom: 25px 

  section.dark
    h2.back
      background: rgba(255,255,255,0.04)

  section.light
    h2.back
      background: rgba(0,0,0,0.04)

  .inner
    padding: 20px 20px 25px 20px
    
    

    
