html, body
  height: 100%
  min-height: 100%

body
  min-width: 320px

section.contents,
section.social,
section.earn,
section.quote,
section.tiles,
section.steps,
section.use,
section.wisdom,
header,
footer
  width: 100%
  margin: auto

section,
header,
footer
  h2
    padding: 30px 40px

  h2 + .inner
    padding-top: 10px

.bind,
.bind-wide  
  margin: auto
.bind-wide  
  max-width: $bind-wide
.bind  
  max-width: $bind-med

.inner
  padding: 40px 40px 40px 40px
  h2
    padding: 0


@media (max-width: 900px)
  section,
  footer
    h2
      background: rgba(255,255,255,0.04)
      padding: 25px 35px 25px 35px
      padding: 15px 35px 15px 35px
      margin-bottom: 20px
      
  .inner
    padding: 25px 20px 35px 20px
    h2
      padding: 0