.flex
  width: 100%
  display: flex

  &.center-v
    align-items: center
    
  &.center-h
    justify-content: center
    text-align: center

  &.wrap
    flex-wrap: wrap
    .unit
      width: 100%

  .unit
    // outline: 1px solid blue

    &.stretch
      flex-grow: 1
    
    &.top
      align-self: flex-start
    
    &.center
      align-self: center

    &.bottom
      align-self: flex-end

.flex + .flex
  margin-top: 40px


section.contents,
section.social,
section.earn,
section.quote,
section.tiles,
section.steps,
section.use,
section.wisdom,
header,
footer
  width: 100%
  margin: auto

section,
header,
footer
  h2
    padding: 30px 40px 10px 40px

.inner
  padding: 30px 40px
  h2
    padding: 0

.bind-wide  
  max-width: $max-wide
  margin: auto

.bind  
  max-width: $max
  margin: auto


@media (max-width: 500px)
  section,
  footer
    h2
      background: rgba(255,255,255,0.04)
      padding: 30px 40px 30px 40px


