$offset         : 50px
$arrow-pad-btm  : 75px
$arrow-pad-top  : 30px
$arrow-pad-side : 60px


header.index
  height: 95%
  position: relative

  ul.slick-dots
    display: inline
    position: relative
    bottom: 50px
    
    li,
    li.slick-active
      display: inline
      position: relative
      width: 20px
      height: 20px
      margin: 0 10px
      padding: 0
      cursor: pointer
      opacity: .3
      
    li.slick-active
      opacity: 1

  .index-hero
    height: 100%
    width:  100%
    display: block

    .hero-2
      display: none
    .hero-3
      display: none

    .hero,
    .slick-list,
    .slick-track,
    .slick-slide,
    .slick-active
      height: 100%
      width: 100%
      display: block

      .flex.stretch.wrap
        width: 100%
        height: 100%
        background: radial-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3))
        
        .unit
          padding: 0 15px

          h1
            margin: 10px 0 35px 0
          hgroup
            font-size: 10px
            line-height: 14px
            


header.index
  .index-hero
    .hero-1
      background: url('../img/components/hero/hero-1-1800.jpg') 50% 40%
    .hero-2
      background: url('../img/components/hero/hero-2-1800.jpg') 50% 40%
    .hero-3
      background: url('../img/components/hero/hero-3-1800.jpg') 50% 40%


@media (max-width: 1400px)
  header.index
    max-height: 900px
    .index-hero
      .hero-1
        background: url('../img/components/hero/hero-1-1400.jpg') 50% 0%
      .hero-2
        background: url('../img/components/hero/hero-2-1400.jpg') 50% 40%
      .hero-3
        background: url('../img/components/hero/hero-3-1400.jpg') 50% 40%
        

@media (max-width: 1000px)
  header.index
    max-height: 650px
    .index-hero
      .hero-1
        background: url('../img/components/hero/hero-1-1000.jpg') 9% 40%
      .hero-2
        background: url('../img/components/hero/hero-2-1000.jpg') 50% 40%
      .hero-3
        background: url('../img/components/hero/hero-3-1000.jpg') 50% 40%
        

@media (max-width: 750px)
  header.index
    max-height: 650px
    .index-hero
      .hero-1
        background: url('../img/components/hero/hero-1-1000.jpg') 9% 40%
      .hero-2
        background: url('../img/components/hero/hero-2-1000.jpg') 50% 40%
      .hero-3
        background: url('../img/components/hero/hero-3-1000.jpg') 50% 40%
        





.hero.app-buttons.inline
  margin-top: -160px
  display: block
  line-height: 0
  text-align: center
  z-index: 999
  position: absolute
  width: 100%
  
  a.app
    border: rgba(255,255,255,0.5) 0.075rem solid
    background: none
    opacity: 0.7

    & + a.app
      margin-left: 20px

    &:hover
      background: rgba(0, 0, 0, 0.8)
      opacity: 1




@media (max-width: 570px)
  header.index
    height: 100%
    margin-bottom: 70px
    
    .hero.app-buttons.inline
      margin-top: 0
      height: 70px
      padding-top: 15px
      display: block
      position: absolute
      background: rgba(0,0,0,0.4)
      
      a.app
        border: rgba(255,255,255,0.2) 0.075rem solid
        background: none
        opacity: 0.7

        & + a.app
          margin-left: 15px

        &:hover
          background: $teal
          border-color: $teal
          opacity: 1

    .index-hero
      .flex.stretch.wrap
        .unit
          margin-top: 30px
          h1
            margin: 5px 0 25px 0
          hgroup
            font-size: 10px
            line-height: 14px
      
      .hero-1
        background: url('../img/components/hero/hero-1-570.jpg') 50% 0
      .hero-2
        background: url('../img/components/hero/hero-2-570.jpg') 50% 0
      .hero-3
        background: url('../img/components/hero/hero-3-570.jpg') 50% 0
        

