a
  transition: all 300ms ease
  
  &.block
    display: block

  &.inline-block
    display: inline-block

  &.plain
    text-decoration: none
    
  &.hover
    text-decoration: none  
    &:hover
      text-decoration: underline

  &.underline
    text-decoration: underline  
    &:hover
      text-decoration: underline
      
  &.outline
    border: 1px solid rgba(0,0,0,0.15)

  &.button
    color: #333
    padding: 20px
    border-radius: 4px
    &:hover
      background: rgba(255,255,255,1)
    
  &.cta
    background: rgba(0,180,173,0.5)
    display: inline-block
    &:hover
      background: rgba(255,255,255,0.9)
    &.shadow
      box-shadow: 1px 1px 3px rgba(0,0,0,0.6)

  &.app + a.app
    margin-left: 8px

  &.arrow
    opacity: 0.4
    width: 10%
    transition: $transition
    &:hover
      opacity: 1
    &.left
      text-align: left
    &.right
      text-align: right
