img,
video
	&.boundary
		width: 100%

img.center
	margin: auto

img.squash
	max-width: 100%
  
img.expand
	min-width: 100%  

img.continue
	transition: opacity ease 200ms
	opacity:    1
	width: 		58px
	padding:	0
	position: 	absolute
	bottom: 	20px
	right: 		22px