.blink
	animation-fill-mode: forwards
	animation-iteration-count: infinite
	animation-timing-function: ease-out
	animation-duration: 1s
	animation-name: blink
	animation-delay: 1s

@keyframes blink
	0%
		opacity: 1
	30%
		opacity: 1
	50%
		opacity: 0
	70%
		opacity: 1
	100%
		opacity: 1