.jump
	animation-fill-mode: forwards
	animation-iteration-count: infinite
	animation-timing-function: ease-in-out
	animation-duration: 1s
	animation-name: jump
	animation-delay: 1s

@keyframes jump
	0%
		bottom: 	20px
	50%
		bottom: 	0
	100%
		bottom: 	20px
		


.blink
	animation-fill-mode: forwards
	animation-iteration-count: infinite
	animation-timing-function: ease-out
	animation-duration: 1s
	animation-name: blink
	animation-delay: 1s

@keyframes blink
	0%
		opacity: 1
	30%
		opacity: 1
	50%
		opacity: 0
	70%
		opacity: 1
	100%
		opacity: 1