body
  font-family: 'Roboto', sans-serif
  font-family: $roboto
  background: $copyDark
  text-rendering: optimizeLegibility

h1
  font-size: 3.5rem
  line-height: 3.25rem
  letter-spacing: 0.015rem
  font-weight: 500


@media (max-width: 750px)
  h1
    font-size: 2.5rem
    line-height: 2.6rem
    letter-spacing: 0.015rem
    font-weight: 500

@media (max-width: 570px)
  h1
    font-size: 2rem
    line-height: 2rem
    letter-spacing: 0.015rem
    font-weight: 500



h2,
blockquote
  font-weight: 300
  font-size: 26px 
  letter-spacing: 0.03em
  line-height: 1.2em

h3, 
  font-weight: 300
  font-size: 1rem
  letter-spacing: 0.075rem
  line-height: 1.3rem

hgroup,
cite
  text-transform: uppercase
  letter-spacing: 0.15rem
  font-size: 0.8rem
  line-height: 1.1rem
  display: block
  font-weight: 400
  font-family: $roboto

p,
ol li,
ul li
  font-size: 13px
  line-height: 1.445em
  letter-spacing: 0.04em
  font-weight: 300
  
  
dl
  font-size: $font-sm-pt
  line-height: $font-sm-ld

dl dd
  display: inline
  font-weight: bold

dl dt
  display: inline-block
  min-width: 90px




dl + p
  margin-top: 3em

p + p
  margin-top: 1em

p + ul
  margin-top: 1.5em
    
ul + p
  margin-top: 1.5em
  


hgroup + h3
  margin-top: 5px



.reset li
  list-style: none

.indent li
  margin-left: 2em

.center
  text-align: center

.caps
  text-transform: uppercase
  letter-spacing: 0.07em

::selection
  background-color: rgba( 0, 180, 173, 0.8)
  
.no-select
  user-select: none

.no-drag
  user-drag: none


