body
  font-family: 'Roboto', sans-serif
  background: $copyDark


h1, .h1
  font-weight: 200
  font-size: 36px 
  letter-spacing: 0.045em

h2, .h2, 
blockquote, .blockquote
  font-weight: 200
  font-size: 26px 
  letter-spacing: 0.045em


// @media (max-width: 900px)
//   h2, .h2, 
//   blockquote, .blockquote
//     font-weight: 200
//     font-size: 26px
//     font-size: 24px 
//     letter-spacing: 0.045em



// @media (max-width: 500px)
//   h2, .h2, 
//   blockquote, .blockquote
//     font-weight: 200
//     font-size: 26px 
//     letter-spacing: 0.045em


h3, .h3,
hgroup, .hgroup,
cite, .cite
  font-size: 13px
  line-height: 1.445em
  font-weight: 400
  letter-spacing: 0.045em
  display: block
  text-transform: uppercase


ol li,
ul li
  font-size: 13px
  line-height: 1.445em


dl
  font-size: $font-sm-pt
  line-height: $font-sm-ld

dl dd
  display: inline
  font-weight: bold

dl dt
  display: inline-block
  min-width: 90px

dl + p
  margin-top: 3em

p + p
  margin-top: 1em


p + ul
  margin-top: 1.5em
    
ul + p
  margin-top: 1.5em
  




small .small, p .p, li .li
  font-size: 12px
  font-weight: 300
  line-height: 1.4em

.reset li
  list-style: none

.indent li
  margin-left: 2em

.center
  text-align: center

.caps
  text-transform: uppercase
  letter-spacing: 0.07em

::selection
  background-color: rgba( 0, 180, 173, 0.8)
  
.no-select
  user-select: none

.no-drag
  user-drag: none


